nextflow.enable.dsl=2

params {
    cpus      = 12
    memory    = '9.6 GB'
    kingdom   = 'Bacteria'
    outdir    = 'Results'
    publish_mode = 'copy'
    organism  = 'other'
    group     = 'negative'
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

profiles {
    docker {
        docker.enabled = true
    }
}

executor {
    name = 'local'
    cpus = 12
    memory = '9.6 GB'
}


process {
    withName: PROKKA {
        cpus = 4
        memory = '8 GB'
        time = '1d'
    }
    withName: ROARY {
        cpus = 4
        memory = '8 GB'
        time = '1d'
    }
    withName: ROARY_2 {
        cpus = 2
        memory = '4 GB'
        time = '1d'
    }
    withName: ALGPRED {
        cpus = 2
        memory = '6 GB'
        time = '30m'
    }
    withName: VFDB {
        cpus = 2
        memory = '4 GB'
        time = '1d'
    }
    withName: DEEPLOCPRO {
        cpus = 12
        memory = '9.6 GB'
        time = '1d'
        maxForks = 1
    }
    withName: DEEPTHMMM {
        cpus = 12
        memory = '9.6 GB'
        time = '1d'
        maxForks = 1
    }
    withName: DEEPTHMMM_2 {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }
    withName: SIGNALP {
        cpus = 12
        memory = '9.6 GB'
        time = '1d'
        maxForks = 1
    }
    withName: HUMAN_HOMOLOGS {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }
    withName: TOXINPRED {
        cpus = 4
        memory = '6 GB'
        time = '1d'
    }
    withName: MHCNUGGETS_I {
        cpus = 4
        memory = '6 GB'
        time = '30m'
    }
    withName: MHCNUGGETS_II {
        cpus = 4
        memory = '6 GB'
        time = '30m'
    }
}


profiles {
  test {
    params {
      proteome = "TestData/proteome_small.faa"
      genomes  = "TestData/genomes_small/*.fna"
      genome   = "TestData/genome_small.fna"
      human_db = "TestData/DBs/human_small.dmnd"
      vfdb_db  = "TestData/DBs/vfdb_small.dmnd"
      mode     = "test"
    }
    process {
      cpus = 1
      memory = '1 GB'
    }
    executor {
      name = 'local'
      cpus = 1
    }
  }

  docker {
    docker.enabled = true
  }
}


