nextflow.enable.dsl=2

params {
    cpus      = 4
    memory    = '4 GB'
    kingdom   = 'Bacteria'
    outdir    = 'Results'
    publish_mode = 'copy'
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

profiles {
    docker {
        docker.enabled = true
    }
}

process {
    withName: PROKKA {
        cpus = 4
        memory = '4 GB'
        time = '1d'
    }
    withName: ROARY {
        cpus = 4
        memory = '4 GB'
        time = '1d'
    }
    withName: ROARY_2 {
        cpus = 4
        memory = '4 GB'
        time = '1d'
    }
    withName: ALGPRED {
        cpus = 4
        memory = '4 GB'
        time = '30m'
    }
    withName: VFDB {
        cpus = 4
        memory = '4 GB'
        time = '1d'
    }
    withName: DEEPLOCPRO {
        cpus = 4
        memory = '4 GB'
        time = '1d'
    }
    withName: DEEPTHMMM {
        cpus = 4
        memory = '4 GB'
        time = '1d'
    }
    withName: DEEPTHMMM_2 {
        cpus = 4
        memory = '4 GB'
        time = '30m'
    }
    withName: SIGNALP {
        cpus = 4
        memory = '4 GB'
        time = '1d'
    }
    withName: HUMAN_HOMOLOGS {
        cpus = 4
        memory = '4 GB'
        time = '30m'
    }
    withName: TOXINPRED {
        cpus = 4
        memory = '4 GB'
        time = '1d'
    }
    withName: MHCNUGGETS_I {
        cpus = 4
        memory = '4 GB'
        time = '30m'
    }
    withName: MHCNUGGETS_II {
        cpus = 4
        memory = '4 GB'
        time = '30m'
    }
}
