nextflow.enable.dsl=2

params {
    cpus      = 12
    memory    = '8 GB'
    outdir    = 'Results'
    publish_mode = 'copy'
    mode = 'unfiltered'
    help = false
    end_at = null  

    //PROKKA
    kingdom   = 'Bacteria'
 
    //ROARY
    identity = 95

    //CD_HIT
    SequenceIdentity = 0.9    
    WordLength = 5
    DescpLength = 0

    //VFDB
    vfdb = '/app/VFDB_db.dmnd'
  
    //HUMAN_HOMOLOGS
    homologsdb = '/app/human_db.dmnd'

    //TOXINPRED
    ToxinThreshold = 0.38
    model     = 1

    //DEEPLOCPRO
    group     = 'negative'
    device    = 'cpu'

    //ALGPRED
    AllergenThreshold = 0.3

    //SIGNALP
    organism  = 'other'
    signalpMode   = 'fast'

    //MHC_I
    MHC_I_method = 'ann'
    MHC_I_length = 11
    MHC_I_alleles = "/app/Resources/ann_human_allele.txt"

    //MHC_II
    MHC_II_method = 'consensus3'
    MHC_II_length = 15
    MHC_II_alleles = "/app/Resources/consensus3_alleles.txt"


    pipeline_report = "pipeline_report"
    monochrome_logs = false
}

conda.enabled = true

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    singularity {
        singularity.enabled = false
        singularity.autoMounts = true
        singularity.cacheDir = "$baseDir/.singularity"
        singularity.pullTimeout = '1d'
    }


    executor {
        name = 'local'
        cpus = params.cpus
    }

    test_proteome {
	includeConfig "$baseDir/profiles/test_proteome.config"
    }

    test_genome {
        includeConfig "$baseDir/profiles/test_genome.config"
    }

    test_pangenome {
        includeConfig "$baseDir/profiles/test_pangenome.config"
    }
}

process {
    withName: PROKKA {
        cpus = 4
        memory = '8 GB'
        time = '1d'
    }

withName: ROARY {
        cpus = 4
        memory = '8 GB'
        time = '1d'
    }
    withName: ROARY_2 {
        cpus = 2
        memory = '4 GB'
        time = '1d'
    }
    withName: ALGPRED {
        cpus = 2
        memory = '6 GB'
        time = '30m'
    }
    withName: VFDB {
        cpus = 2
        memory = '4 GB'
        time = '1d'
    }
    withName: DEEPLOCPRO {
        cpus = 4
        memory = '8 GB'
        time = '1d'
        maxForks = 1
    }
    withName: SIGNALP {
        cpus = 4
        memory = '8 GB'
        time = '1d'
        maxForks = 1
    }
    withName: HUMAN_HOMOLOGS {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }
    withName: TOXINPRED {
        cpus = 4
        memory = '6 GB'
        time = '1d'
    }
    withName: MHC_I {
        cpus = 4
        memory = '8 GB'
        time = '1d'
    }
    withName: MHC_II {
        cpus = 4
        memory = '8 GB'
        time = '1d'
    }
    withName: B_CELL {
        cpus = 4
        memory = '8 GB'
        time = '1d'
    }
}


timeline {
    enabled = true
    file = "${params.pipeline_report}/execution_timeline_${new Date().format('yyyyMMddHHmmss')}.html"
}

report {
    enabled = true
    file = "${params.pipeline_report}/execution_report_${new Date().format('yyyyMMddHHmmss')}.html"
}

trace {
    enabled = true
    file = "${params.pipeline_report}/execution_trace_${new Date().format('yyyyMMddHHmmss')}.txt"
}

dag {
    enabled = true
    file = "${params.pipeline_report}/pipeline_dag_${new Date().format('yyyyMMddHHmmss')}.svg"
}

validation {
    help {
        enabled = true
    }
}
