params {
    genomes = "${projectDir}/testdata/test_genomes/*.fna"

    cpus      = 12
    memory    = '8 GB'
    outdir    = 'Results'
    publish_mode = 'copy'

    //PROKKA
    kingdom   = 'Bacteria'
    gram = 'neg'

    //ROARY
    identity = 95

    //CD_HIT
    SequenceIdentity = 0.9
    WordLength = 5
    DescpLength = 0

    //TOXINPRED
    threshold = 0.38
    model     = 1
    toxinpredDisplay   = 2

    //DEEPLOCPRO
    group     = 'negative'
    device    = 'cpu'

    //ALGPRED
    threshold = 0.3
    model     = 1
    algpredDisplay   = 1

    //SIGNALP
    organism  = 'other'
    format    = 'txt'
    signalpMode   = 'fast'

    //MHC_I
    MHC_I_method = 'ann'
    MHC_I_length = 11
    MHC_I_alleles = "${projectDir}/testdata/test_allele/MHC_I_allele.txt"

    //MHC_II
    MHC_II_method = 'consensus3'
    MHC_II_length = 15
    MHC_II_alleles = "${projectDir}/testdata/test_allele/MHC_II_allele.txt"

    pipeline_report = "pipeline_report"
    monochrome_logs = false

}
