params {
    genome = "${projectDir}/testdata/genome1.fna"

    cpus      = 12
    memory    = '8 GB'
    outdir    = 'Results'
    publish_mode = 'copy'

    //PROKKA
    kingdom   = 'Bacteria'
    gram = 'neg'

    //CD_HIT
    SequenceIdentity = 0.9
    WordLength = 5
    DescpLength = 0

    //TOXINPRED
    threshold = 0.38
    model     = 1
    toxinpredDisplay   = 2

    //DEEPLOCPRO
    group     = 'negative'
    device    = 'cpu'

    //ALGPRED
    threshold = 0.3
    model     = 1
    algpredDisplay   = 1

    //SIGNALP
    organism  = 'other'
    format    = 'txt'
    signalpMode   = 'fast'

    pipeline_report = "pipeline_report"
    monochrome_logs = false
}
