params {
    proteome = "testdata/protein.faa"

    cpus      = 12
    memory    = '8 GB'
    outdir    = 'Results'
    publish_mode = 'copy'

    //TOXINPRED
    threshold = 0.38
    model     = 1
    toxinpredDisplay   = 2

    //DEEPLOCPRO
    group     = 'negative'
    device    = 'cpu'

    //ALGPRED
    threshold = 0.3
    model     = 1
    algpredDisplay   = 1

    //SIGNALP
    organism  = 'other'
    format    = 'txt'
    signalpMode   = 'fast'

    pipeline_report = "pipeline_report"
    monochrome_logs = false
}
